* {
    font-family: 'Expressway Rg', sans-serif;
  }
  
  body {
    background-color: white;
  }
  
  
  /* Column Stuff */

  .col-lg-3{
    position: relative;
  }

  .col-lg-3 {
    padding: 10px;
    height: 250px;
    /* width: 485px; */
    width: 400px;
    margin-top: 20px;
  }
  
  .p-3{
    /* border: 2px solid black;   */
    height: 200px;
  }
  
  .JetBlue {
    background-color: rgb(51, 133, 215);
    
    color: white;
    font-weight: bold;
  }
  
  .grow { 
    transition: all .2s ease-in-out; 
  }
      
  .grow:hover { 
    transform: scale(1.1); 
  }
  
  /* Airline and Flight Info */
  
  .airlineInfo{
    float: left;
    color: white;
    /* border-right: 2px solid rgb(127, 224, 135);
    border-bottom: 2px solid rgb(127, 224, 135); */
  }
  
  .airlineImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  
    float: left;
    clear: right;
    margin-left: 10px;
    border: 2px solid rgb(127, 224, 135);;
  }
  
  .airlineName{
    float: left;
    clear: left;
    font-size: 1.25em;
  }
  
  .flightNumber{
    padding-left: 10px;
    font-size: 1.2em;

    position: relative;
    top: 10px;
  }
  
  /* Time, Destination, and Gate */
  
  .timeInfo {
    float: right;
    font-size: 1.3em;
    width: 50%;
    padding-left: 25px;

    position: relative;
    bottom: 20px;
  }
  
  .timeIdentification{
    color: rgb(127, 224, 135);
    float: right;
  }
  
  .time {
    float: right;
  }
  
  .destination{
    float: left;
    clear: left;
    font-size: 1.25em;
    width: 50%;
    text-align: center;
  }
  
  .airport{
    width: 100%
  }
  
  .gateInfo{
    float: right;
    background-color: white;
    width: 100px;
    height: 80px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    bottom: 35px;
    left: 35px;
  }
  
  .gate{
    float: right;
    padding-right: 10px;
    font-size: 1.15em;
  }
  
  .gateNumber{
    float: right;
    clear: right;
    font-size: 2em;
    border: 2px solid rgb(127, 224, 135);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-width: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    position:relative;
    top: 20px;
    right: 25px;
    color: black;
  }

  .weatherInfo{
    float: left;
    margin-top: 8px;
    width: 100%;
  }
  

  .weather{
    color: white;
  }

  /* Scroll Text */

  .weatherInfo {
    border: 3px solid rgb(127, 224, 135);
    border-radius: 5px;
    overflow: visible;
  }
  
  .weather {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  .weather, .notification {
    font-size: 0.67em;
  }

  /* .weatherInfo img {
    width: 10px;
    height: 40px;
  } */

  /* Notification */

  .notification{
    color: red;
    background-color: black;
    position: relative;
    left: 59px;
    top: 12px;
    border: 2px solid red;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 1px;
    font-weight: bolder;
  }

  .notificationText{
    color: red;
  }
  
  /* section{
      position: relative;
      bottom: 75px;
      right: 15px;
      width: 111%;
      height: 10vh;
      background: rgba(53, 134, 255, 0);
      overflow: hidden;
    }
    section .air{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
      background-size: 1000px 100px
    }
    section .air.air1{
      animation: wave 30s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }
    section .air.air2{
      animation: wave2 15s linear infinite;
      z-index: 999;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 10px;
    }
    section .air.air3{
      animation: wave 30s linear infinite;
      z-index: 998;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 15px;
    }
    section .air.air4{
      animation: wave2 5s linear infinite;
      z-index: 997;
      opacity: 0.7;
      animation-delay: -5s;
      bottom: 20px;
    }
    @keyframes wave{
      0%{
        background-position-x: 0px; 
      }
      100%{
        background-position-x: 1000px; 
      }
    }
    @keyframes wave2{
      0%{
        background-position-x: 0px; 
      }
      100%{
        background-position-x: -1000px; 
      }
    } */

@media(max-width: 450px){
  .destination{
    font-size: 0.8em;
  }

  .timeInfo{
    font-size: 0.8em;
  }

  .gateNumber{
    position:relative;
    top: 18px;
    right: 20px;
  }

}
  